RewriteEngine On
RewriteBase /ndse/client2/webapi/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ndse/client2/webapi/index.php [L]
